.container {
  height: 100vh;
}

.rows,
textarea.input-form {
  width: 40%;
  height: 500px;
  display: inline-block;
  overflow: auto;
  text-align: left;
  margin-left: 20px;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

textarea.input-form {
  resize: none;
}